* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  line-height: 1.3;
  letter-spacing: 0.2px;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0.4px;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

a:hover {
  text-decoration: none;
  color: deepskyblue;
}

template {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(235, 235, 234);
}

.container {
  margin: auto;
  padding: 20px;
  max-width: 720px;
  background-color: white;
}

.container>* {
  margin: 18px;
}

.nickname {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.job {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: blue;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 2;
}

.footer {
  font-size: 14px;
  text-align: center;
  color: gray;
}